body {
    background-color:#777;
    color:#777;
    font-family:Arial, Helvetica, sans-serif;
    width:960px;
    font-size:18px;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    width: 960px;
  }
  
  header, nav, section, aside, footer {
    background-color:#ebebeb;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
  }
  
  section {
    float: left;
    width:58%;
    margin-bottom: 15px;
    height: 300px;
  }
  aside {
    float: right;
    height: 300px;
    width: 34%;
  }
  
  footer {
    clear: both;
  }
  
  article {
    background-color:#777;
    color:#ebebeb;
    padding: 5px;
  }
    
  h1, p {
      display: inline-block;
      color:#777;
      background:#ebebeb;
      font-size: 20px;
      width:95%;
      height:75px;
    }
    